# Install mise: https://mise.jdx.dev/installing-mise.html

[env]
# Set default environment variables
BINARY_NAME = "valkey-mcp-server"
COVERAGE_FILE = "coverage.out"
COVERAGE_HTML = "coverage.html"
DOCKER_IMAGE = "ghcr.io/itsjool/valkey-mcp-server"
DOCKER_TAG = "latest"
VERSION = "1.0.0"
K8S_MANIFEST = "k8s/valkey-mcp-server.yaml"


[tools]
go = "1.22"
podman = "latest"
kubectl = "latest"
golangci-lint = "latest"
upx = "latest"


[tools."http:valkey"]
version = "9.0.2"

[tools."http:valkey".platforms.linux-x64]
url = "https://download.valkey.io/releases/valkey-{{version}}-noble-x86_64.tar.gz"
bin_path = "valkey-{{version}}-noble-x86_64/bin"

[tools."http:valkey".platforms.linux-arm64]
url = "https://download.valkey.io/releases/valkey-{{version}}-noble-arm64.tar.gz"
bin_path = "valkey-{{version}}-noble-arm64/bin"

[shell_alias]
docker="podman"
